<br />
<br />

<div class="col-10 offset-1">
  <h1>About Scratch</h1>

    <p>
    Scratch is a portfolio piece that was created to show you how amazing I can be! My new found web developer skills were acquired through the University of Denver's Full Stack Web Development Bootcamp where I just recently graduated in 9/30. To see my portfolio and find out more about me, please click on the links below.
    <p>
    <div class="social">
    <%= link_to "https://github.com/spiraldown", :target => "_blank", class: 'icons' do %>
    <i class="fa fa-github"></i>
    <% end %>
      <%= link_to "https://www.linkedin.com/in/matthew-munos/", :target => "_blank", class: 'icons' do %>
    <i class="fa fa-linkedin-square"></i>
    <% end %>
      <%= mail_to "mmcodedesign@gmail.com", class: 'icons' do %>
    <i class="fa fa-envelope-square"></i>
    <% end %>
    </div>
    </p>
    <p>
    This site was created using Ruby on Rails, additional gems   and some JavaScript.
    </p>
    </p>

</div>