<div class="row">
  <div class="col-xl-12 quote">
    <br />
    <br />   
    <br />
    <br />
   <h1>"<%= @quote.saying %>"</h1>
   <h2>- <%= @quote.author %></h2>
 </div>
  </div>
</div>